# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python Environment
.python-version